<mat-card class="mat-elevation-z8">
  <form class="row">

    <mat-form-field class="col-md-4">
      <mat-icon matPrefix>person</mat-icon>
      <input maxlength="30" matInput placeholder="Nome">
      <mat-error> ERRO </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-4">
      <mat-icon matPrefix>person</mat-icon>
      <input maxlength="30" matInput placeholder="CPF">
      <mat-error> ERRO </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-4">
      <mat-icon matPrefix>person</mat-icon>
      <input maxlength="30" matInput placeholder="Faixa">
      <mat-error> ERRO </mat-error>
    </mat-form-field>
    <div class="col-12 text-center ">
      <button type="button" class="btn btn-primary btn-lg">Incluir</button>
    </div>
  </form>
</mat-card>
<router-outlet></router-outlet>
