<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->

       <a mat-button routerLink="/">Home</a>
       <span class="spacer"></span>
       <a mat-button routerLink="/login">Login</a>
       <a mat-button routerLink="/aluno">Aluno</a>
       <a mat-button routerLink="/professor">Professor</a>
    </mat-toolbar-row>
  </mat-toolbar>
<p>
 pagina inicial depois do login
</p>
<router-outlet></router-outlet>
